@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --color-brand-light-blue: #00a7e1;
    --color-brand-navy-blue: #00171f;
    --color-brand-white: #ffffff;
    --color-landing-elements-black: #000000;
    --color-landing-elements-gold: #ffd700;
    --color-landing-elements-medium-gray: #d9d9d9;
    --color-landing-elements-warm-white: #fdfaf6;
    --color-opacity-30-light-blue: #00a7e14d;
    --color-opacity-50-black: #00000080;
    --color-opacity-50-light-blue: #00a7e180;
    --color-opacity-70-light-blue: #00a7e1b2;
    --color-opacity-70-navy-blue: #00171fb2;

    --ff-main: Figtree, Arial, Helvetica, sans-serif;

    --spacing-xsm: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xlg: 32px;
    
    --weight-regular: 300;
    --weight-medium: 400;
    --weight-semibold: 500;
    --weight-bold: 600;
    --weight-bolder: 700;
    --weight-black: 900;

    /*tokens*/
    --color-btn-primary: var(--color-brand-light-blue);
    --color-text-btns-primary: var(--color-brand-white);
    --color-text-content: var(--color-brand-navy-blue);
    --color-text-title: var(--color-brand-light-blue);
    
    --radius-xsm: var(--spacing-xsm);
    --radius-sm: var(--spacing-sm);
    --radius-md: var(--spacing-md);
    --radius-lg: var(--spacing-lg);

    --gap-xsm: var(--spacing-xsm);
    --gap-sm: var(--spacing-sm);
    --gap-md: var(--spacing-md);
    --gap-lg: var(--spacing-lg);

}

/*op = optimization - reduce copied lines*/

html, body {font-family: var(--ff-main);}

/* standalone style rules */
.spacing {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.flex-col-nowrap {
    display: flex;
    flex-flow: column nowrap;
}

.flex-col-wrap {
    display: flex;
    flex-flow: column wrap;
}

.flex-row-nowrap {
    display: flex;
    flex-flow: row nowrap;
}

.gap-4 {gap: var(--gap-xsm);}
.gap-8 {gap: var(--gap-sm);}
.gap-16 {gap: var(--gap-md);}
.gap-24 {gap: var(--gap-lg);}

/* stylesheet */

/* Hero */
.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.hero__main {
    flex: 1;
    justify-content: center;
    align-content: center;
}

.hero__content {
    padding-top: 16px; 
    max-width: 600px;
}

.hero__subtitle {
    color: var(--color-text-content);
    font-weight: var(--weight-bold);
}

.hero__title {
    font-weight: var(--weight-black);
    font-size: 1.8rem;
    color: var(--color-text-title);
}

.hero__description {
    color: var(--color-text-content);
    font-weight: var(--weight-semibold);
}

.hero__img {
    width: 100%;
    max-width: 500px;
}

.hero__btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: var(--weight-bold);
}

.hero__btn--primary {
    background-color: var(--color-btn-primary);
    color: var(--color-text-btns-primary);
    padding: 8px 16px;
    text-align: center;
    border-radius: var(--radius-xsm);
}

.hero__btn--link {
    color: var(--color-brand-light-blue);
    text-align: center;
    max-width: fit-content;
    margin: 16px auto;
    padding: 0px 16px;
}

/* Nav */
.hero nav {
    width: 100%;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 8px;
    margin-bottom: 24px;
    border-bottom: 2px solid var(--color-brand-light-blue);
}

.hero nav > a {
    text-decoration: none;
    font-weight: 600;
    color: var(--color-text-content);
}

/* Services */
.services {
    background-color: var(--color-landing-elements-warm-white);
    padding: var(--spacing-lg) 0px;
}

.services__track {
    display: flex;
    overflow-x: auto;
    padding: var(--spacing-md) var(--spacing-xsm) ;
    scroll-snap-type: x mandatory;
}

.service__card {
    scroll-snap-align: center;
    flex: 0 0 90%;
    background-color: var(--color-brand-white);
    border-radius: var(--radius-lg);
    padding: 8px 8px 16px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.22);
}

.service__card-info {
    background-color: var(--color-brand-light-blue);
    border-radius: var(--radius-md);
    padding: 8px;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.22);
}

.service__card-details {color: var(--color-brand-white);}

.service__card-feats {
    list-style-type: none;
    font-weight: var(--weight-semibold);
    color: var(--color-brand-light-blue);
    gap: var(--gap-xsm);
}

.service__card-tagline {font-weight: var(--weight-bolder);}
.service__card-description {font-weight: var(--weight-medium);}

.service__card-feat {
    padding: 4px 8px;
    background-color: var(--color-brand-white);
    border-radius: var(--radius-md);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.22);
}


/* Trail */
.trail__checkpoint {
    padding: 0px 8px 8px;
    display: flex;
    flex-direction: column;
    gap: var(--gap-md);
}

.trail__img {
    max-width: 80%;
    align-self: center;
}

.trail__checkpoint .trail__title {
    color: var(--color-brand-navy-blue);
    text-align: center;
}

.trail__checkpoint .trail__text {
    color: var(--color-brand-navy-blue);
    text-align: center;
    font-size: 1.2em;
}


@media (min-width: 1024px) {

    .hero__main {
        display: grid;
        grid-template: repeat(2, auto) / repeat(2, 500px);
    }

    .hero__content {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: end;
    }

    .hero__img {
        grid-column: 2/3;
        grid-row: 1 / 3 ;
    }

    .hero__btns {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

}