@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /*design-tokens*/
    --clr-light-blue: #00A7E1;
    --clr-white: #ffffff;
    --clr-navy-blue: #00171F;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-black: 900;
    --fs-sm: 0.875rem; /*14px*/
    --fs-md: 1rem; /*16px*/
    --fs-lg: 1.5rem; /*24px*/
    --fs-xl: 2.5rem; /*40px*/
    --ff-main: Figtree, Arial, Helvetica, sans-serif;

    /*vars*/
        /*subtext-h1 = local style {fw-bold}*/
    --text-heading-clr: var(--clr-light-blue);
    --text-heading-wgt: var(--fw-black);
    --text-paragraph-wgt:  var(--fw-medium);
    --text-btn-clr: var(--clr-white);
    --text-btn-wgt: var(--fw-bold);
    --text-heading-size: ;
}

body {
    font-family: var(--ff-main);
}